{extend name="index/base" /}
{block name="content"}
{volist name="list" id="vo"}
<div style="display: flex;flex-wrap:wrap;">
    <div style="margin-bottom: 20px;width:400px;">
        <div id="head"style="display: flex;" >
            <div style="display: flex;flex-direction: column">
                <a href="{:url('index/index/showPhoto',['gallery_id' => $vo.gallery_id])}" ><img src="__ROOT__/photo/{$vo.head_photo_path}" alt="没有图片" style="width: 100px;height: 100px"></a>
                <span>图片封面</span>
            </div>
            <div>
                <img src="" alt="" style="width: 100px">
            </div>

        </div>
        <div id="content" style="display: flex">
            <div>
                <h3>{$vo.gallery_name}</h3>
                <h4>上传者:{$vo.creator_id.text}</h4>
                <h5>创建时间:{$vo.create_time}</h5>
                <h5>上次修改:{$vo.update_time}</h5>
                <a href="{:url('index/index/isCollected',['gallery_id' => $vo.gallery_id])}">{$vo.collect.text}</a>
            </div>
            <div>
                图片描述
                {$vo.gallery_describe}
            </div>
        </div>
    </div>


</div>
{/volist}
{/block}