{extend name="index/base" /}
{block name="location"}<h3>您当前的位置:{:session('location')}/{:session('gallery.name')}图库</h3>{/block}
{block name="content"}
{volist name="list" id="vo"}
<div style="display:flex;">
    <div style="margin:10px">
        <img src="__ROOT__/photo/{$vo.path}" alt="" style="width: 150px; height:150px; margin: 10px">
        <h3>{$vo.photo_name}</h3>
        <p>所在图库:{:session('gallery.name')}</p>
        <p>上传时间:{$vo.create_time}</p>
        <div id="button" style="display: flex; justify-content: space-around">
            <a href="{:url('index/index/editPhotoName',['photo_id' => $vo.photo_id])}"><button type="button" class="btn btn-primary">修改名称</button></a>
            <a href="{:url('index/index/deletePhoto',['photo_id' => $vo.photo_id])}"><button type="button" class="btn btn-danger">删除图片</button></a>
        </div>
    </div>


</div>
{/volist}

<a href="{:url('index/index/addPhoto')}"><button type="button" class="btn btn-primary">新增图片</button></a>

{/block}